.navbar {
    background-color: #363333;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: 2px solid #ff002b;
}

.navbar-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: end;
    margin-right: 4rem;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.pfp {
    max-width: 50px;
    max-height: 50px;
}

.player-info {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.player-info-text {
    min-width: 100px;
    font-size: 14px;
    text-align: left;
    margin-left: 5px;
    color: white;
}



